.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)),
    url("./Images/ImageDecor/image-00.png");
  opacity: 0.95;
  height: 25em !important;
}

.carousel-img {
  height: 230px;
  width: 150px;
}

.carousel-control-prev,
.carousel-control-next {
  color: red;
  filter: invert(1)
}

.main-color {
  background-color: rgb(53, 50, 53);
}